body {
}
hr {
  color: red;
  border-style: double;
  margin-right: auto;
  width: 130%;
  border-width: 2px;
  margin: 0px;
}
img {
  height: 275px;
}
.s {
  font-size: 30px;
  float: left;
  margin-left: 10%;
}
.ss {
  background-image:https://i0.wp.com/www.signum.co.in/ashimoox/2021/06/fire-rated-rolling-shutters.jpg?fit=1920%2C1080&ssl=1;
  font-size: 30px;
  float: right;
  margin-right: 40%;
  margin-top: 130px;
}
.p1 {
  margin-bottom: 0px;
  background-color: black;
  padding: 20px;
  width: 100%;
  color: red;
  text-align: center;
  text-size-adjust: 100%;
  font-size: larger;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.p2 {
  width: 100%;
  padding: 20%;
  background-image: url(https://i0.wp.com/www.signum.co.in/ashimoox/2021/06/fire-rated-rolling-shutters.jpg?fit=1920%2C1080&ssl=1);
}
.c1
{
  
  border:dotted;
  border-color:red;
  float: left;
  margin: 5%;
  margin-top: 0px;
}
.c2
{
  border:dotted;
  border-color: blueviolet;
  border-width: 6px;
  float: left;
  margin: 5%;
  margin-left: 0px;
  margin-top: 2px;
  

}
.c3
{
 
  border:dotted;
  border-color:yellow;
  border-radius: 20px;
  border-width: 6px;
  float: right;
  margin: 2%;
  margin-top: 0px;
}
h2{
  text-align: center;
}
.li{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding:0px;
  overflow-x: hidden;
}
.ul1
{
  float: right;
  margin-right: 30%;
  margin-top: 20px;

}
.ul2
{
  margin-top: 20px;
  float: left;
  margin-right: 15%;

}